[Unit]
Description=A tool for securing communications between a client and a DNS resolver.
After=network.target
Wants=network.target dnscrypt-backup.service
# Only needed if you use pdnsd, other caching DNS servers can go here. Could be ignored too.
#Before=pdnsd.service

[Service]
EnvironmentFile=/etc/systemd/system/dnscrypt.conf
ExecStart=/usr/local/sbin/dnscrypt-proxy \
         --ephemeral-keys \
         --user=${DNSCRYPT_USER} \
         --provider-key=${DNSCRYPT_RESOLVER_KEY} \
         --provider-name=${DNSCRYPT_RESOLVER_NAME} \
         --resolver-address=${DNSCRYPT_RESOLVER_ADDR} \
         --local-address=${DNSCRYPT_RESOLVER_LOCAL} \
         --pidfile=${DNSCRYPT_RESOLVER_PID} 
Restart=on-abort

[Install]
WantedBy=multi-user.target
